<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- default console appender (without color console printing) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{0}:%line - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- console appender for spring profile 'dev' (with color console printing) -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%highlight(%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS})) %X{traceId} [%thread] %highlight(%-5level %class{0}:%line) - %msg%n</Pattern>
            </encoder>
        </appender>
    </springProfile>

    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} [%thread] %-5level %class{0}:%line - %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/aeonbanklibrary-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
