<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%highlight(%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS})) %X{traceId} [%thread] %highlight(%-5level %class{0}:%line) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} [%thread] %-5level %class{0}:%line - %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/aeonbanklibrary-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
